body {
  padding-top: 70px;
  font-size: 16px;
  color: #004d00;
  background-color: #e6ffb3;
  font-family: 'Lato', sans-serif;
}
/** HEADER **/
#header-nav {
  background-color: #e68a00;
  border-radius: 0;
  text-align: center;
}

.navbar-brand {
  padding: 5px 0px 5px 5px; 
  text-align: left;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lato', serif;
  color: white;
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 5px;
  margin-bottom: 0;
  line-height: .75;
  text-decoration: none;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
  font-size: 1.2em;
  background-color: white;
}
#nav-list a {
  color: #e68a00;
  text-align: center;
}
#nav-list a:hover {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid white;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -60px;
}
/* END HEADER */

/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) { 
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  
  .food {
  border: 1px solid orange;
  }
  
  /* End Header */
  }

/* HOME PAGE */

#title {
 font-size: 2em;
 text-align: center;
}

.menu {
  padding: 10px;
  text-align: left;
  background-color: #ffffe6;
  margin: 5px 5px 20px 5px;
}

/* END HOME PAGE */


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 15px;
    font-size: 4vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  
  
  /* End Header */
  